.controls {
  position: absolute;
  top:  0;
  left:0;
  z-index: 200;
  padding: 5px;

  %button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-color: rgba(255,255,255,0.94);
    border-radius: 3px;
    box-shadow: 0 1px 3px 0px rgba(0,0,0,0.3);
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
  }

  .search-container {
    @extend %button;
    @extend %search;
  }

  .filters {
    @extend %button;
    @extend %gears;
  }

  .geo-locate {
    @extend %button;
    @extend %geo;
  }

  .info {
    @extend %button;
    @extend %info;
  }
}
