.controls {
  position: absolute;
  top:  0;
  left:0;
  z-index: 200;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;

  @include transition( top 0.3s ease 0.1s);

  & > div {
    position: relative;
  }

  %button-background{
    background-repeat: no-repeat;
    background-position: 11px center;
    background-size: 20px;
  }

  %button {
    position: absolute;
    @extend %button-background;
    background-color: rgba(255,255,255,0.94);
    border-radius: 3px;
    box-shadow: 0 1px 3px 0px rgba(0,0,0,0.3);
    width: 40px;
    height: 40px;
    @include transition(left 0.3s ease-out);
  }

  .search-container {
    top: 5px;
    @extend %button;

    padding-right: 40px;
    @include transition(width 0.3s ease);
    width: 100%;
  }

  #search {
    width: 100%;

    input {
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: em(34 / 2);
      border-radius: 0;
      border: none;
      padding: 5px;
      padding-left: 50px;
      background-color: transparent;

      &:focus {
        outline: none;
      }
    }
  }

  .search-label {
    @extend %button-background;
    display: inline-block;
    width: 41px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: absolute;
    border-right: 1px solid #d7d7d7;

    svg {
      margin: 5px;
      margin-left: 10px;
      width:  21px;
      height: 21px;
    }

    &.active-search {
      svg {
        display: none;
      }
    }
  }

  .view-toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    @extend %button-background;

    svg {
      position: absolute;
      top: 0;
      margin: 10px;
      margin-left: 11px;
      width:  20px;
      height: 20px;
    }

    &:before {
      content: '';
      display: block;
      margin-top: 5px;
      height: 30px;
      border-left: 1px solid #d7d7d7;
    }

    .map {
      path {
        fill: rgba(0,0,0,0);
      }
    }
  }


  .filters {
    @extend %button;
    @extend %gears-svg;
    top: 50px;
  }

  .geo-locate {
    position: absolute;
    background-color: rgba(255,255,255,0.94);
    border-radius: 3px;
    box-shadow: 0 1px 3px 0px rgba(0,0,0,0.3);
    width: 40px;
    height: 40px;
    @include transition(left 0.3s ease-out);
    top: 55px;

    svg {
      padding-top: 1px;
      padding-left: 4px;
    }

    &.active-geo {
      path {
        @include animation(activated 2s ease-in);
        @include animation-iteration-count(infinite);
        stroke: darken($currentLocation, 10%);
        stroke-width: 0.5;
      }
    }
  }

  .info {
    @extend %button;
    svg {
      margin: 10px;
      margin-left: 11px;
      width:  20px;
      height: 20px;
    }
    top: 105px;
  }
}

.open-item {
  .controls {
    top: -150px;
    @include transition(top 0.2s $ease-out-quart);
  }
}

.list .view-toggle {
  .map {
    path {
      fill: #808080;
    }
  }

  .list {
    display: none;
  }
}

@include keyframes(activated) {
  from {
    fill: $currentLocation;
    stroke: darken($currentLocation, 10%);
  }
  50%{
    fill: lighten($currentLocation, 15%);
    stroke: lighten($currentLocation, 10%);
  }
  to {
    fill: $currentLocation;
    stroke: darken($currentLocation, 10%);
  }
}
