.item-container {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  @include transition( top 0.5s ease,
                       left 0.5s ease,
                       background 0.5s ease);

  word-wrap: break-word;
  &.hidden {
    top: 110%;
  }

  header {
    @include clearfix;
    padding: 18px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    @include transition(background 0.5s ease);
    position: relative;
  }
}

#main.open-item {
  .item-container {
    height: 100%;
    background: #f2f2f2;

    header {
      background: white;

      p {
        white-space: normal;
      }
    }
  }
}

.item {
  display: none;

  .info {
    margin-right: 60px;

    p {
      margin: 0;
      margin-left: 45px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .featured-image {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    width:  36px;
    height: 36px;
    margin-right: 5px;
    overflow: hidden;
    border-radius: 3px;

    img {
      width:  36px;
      height: 36px;
    }
  }

  .open-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -((80px - 18)/2);
    border-left: 1px solid rgba(0,0,0,0.2);
    width: 58px;
    height: 62px;
    padding: 10px;

    svg {
      @include transition( transition-property-names((transform), webkit) 0.5s ease,
                           border 0 ease 0.5s);
    }
  }

  .distance {
    margin-top: 8px;
    color: #999;
  }

  &.current {
    display: block;
  }
}

.open-item {
  .current {
    .open-toggle svg {
      @include transform(rotate(225deg));
    }
  }
}

.item-details {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 5px;
  color: #898989;
  text-shadow: 0 0 1px rgba(255,255,255,1);

  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #808080;
    text-shadow: 0 0 1px rgba(255,255,255,1);
  }

  h2 {
    font-size: em(16);
  }

  section {
    border-top: 1px solid #d7d7d7;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.75);
    margin-top: 5px;
    padding-top: 5px;

    &:first-child {
      border: none;
      box-shadow: none;
      padding-top: 0;
    }
  }

  article {
    font-size: em(12);

    h1 {
      font-size: 1.4em;
    }

    h2 {
      font-size: 1.2em;
    }

    h3 {
      font-size: 1.1em;
    }
  }

  .pictures {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;

    a {
      text-decoration: none;
    }
  }

  .audio-tour {
    position: relative;
    display: block;
    text-decoration: none;
    @include clearfix;
    color: #444;
    min-height: 60px;
    padding: 5px;
  }

  .play-button {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -25px;
    display: block;
    height: 50px;
    width: 50px;
    background: #fff;
    padding: 12px;
    padding-left: 15px;
    box-shadow:0 1px 3px 0 rgba(0,0,0,0.25);
    border-radius: 2px;
  }

  .audio-description {
    margin-left: 60px;
    font-size: em(14);
  }
}
