@import 'leaflet';
@import 'markercluster';
@import 'markercluster.default';

.tiles {
  z-index: 100;
  @include transition( left 0.5s ease );
}

/* Markers */
%marker {
  background: none;
  border: none;

  &:before {
    border-radius: 50%;
    box-shadow: inset 0 1px 2px -1px rgba(255,255,255,0.7),
                0 3px 4px -2px rgba(0,0,0,0.6);
    border-width: 1px;
    border-style: solid;
    height: 10px;
    width: 10px;
    margin-left: 11px;
    margin-top: 11px;
    display: block;
    content: '';

    @include transition( all 0.2s ease);
  }

  &.active {
    &:before {
      height:      15px;
      width:       15px;
      margin-left: 8px;
      margin-top:  8px;

      background: #e74c3c!important;
      border-color: darken(#e74c3c, 5%)!important;
    }
  }
}

@mixin icon-color($color) {
  @extend %marker;

  &:before {
    background-color: $color;
    border-color: darken($color, 5%);
  }
}

.leaflet-marker-icon {
  &.building{
    @include icon-color($building);
  }

  &.company {
    @include icon-color($company);
  }

  &.openspace {
    @include icon-color($openspace);
  }

  &.program {
    @include icon-color($program);
  }

  &.infrastructure {
    @include icon-color($infrastructure);
  }

  &.neighbourhood {
    @include icon-color($neighbourhood);
  }

  &.audio-tour {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNC4xMjUiIGhlaWdodD0iMTkiPjxwYXRoIGQ9Ik0xMyAxOGMwIC41NS0uMzE4LjY4Mi0uNzA3LjI5M2wtNC41ODYtNC41ODZjLS4zODktLjM4OS0xLjE1Ny0uNzA3LTEuNzA3LS43MDdoLTVjLS41NSAwLTEtLjQ1LTEtMXYtNWMwLS41NS40NS0xIDEtMWg1Yy41NSAwIDEuMzE4LS4zMTggMS43MDctLjcwN2w0LjU4Ni00LjU4NmMuMzg5LS4zODkuNzA3LS4yNTcuNzA3LjI5M3YxN3oiIGZpbGw9IiMwRDYxMzAiLz48cGF0aCBkPSJNMTkgMTguMjkyYy0uNDEyIDAtLjgxLS4yMjgtMS4wMDctLjYyMi0uMjc4LS41NTYtLjA1My0xLjIzMS41MDMtMS41MDkuMTMzLS4wNjggMy4zNzktMS43OTYgMy4zNzktNi4zMjggMC00LjYzMy0zLjM2LTYuOTctMy41MDQtNy4wNjYtLjUxMi0uMzQ5LS42NDgtMS4wNDctLjMwMy0xLjU2MS4zNDYtLjUxNSAxLjAzOS0uNjUzIDEuNTU1LS4zMDkuMTg1LjEyMiA0LjUwMiAzLjA2OCA0LjUwMiA4LjkzNiAwIDUuOTYxLTQuNDM0IDguMjQ2LTQuNjIzIDguMzQtLjE2LjA4MS0uMzMyLjExOS0uNTAyLjExOXoiIGZpbGw9IiMwRDYxMzAiLz48cGF0aCBkPSJNMTYgMTQuNDU5Yy0uNDEyIDAtLjgxLS4yMjgtMS4wMDctLjYyMi0uMjc4LS41NTYtLjA1My0xLjIzMS41MDMtMS41MDkuMDQ0LS4wMjQgMS4zNzktLjc2IDEuMzc5LTIuNjYyIDAtMi4wMDgtMS40ODQtMy4wNTQtMS41LTMuMDY0LS41MTctLjM0NS0uNjU2LTEuMDQzLS4zMTItMS41Ni4zNDUtLjUxOCAxLjA0Ni0uNjU1IDEuNTYtLjMxMi4xMDQuMDY3IDIuNTAyIDEuNzA1IDIuNTAyIDQuOTM2IDAgMy4zMjUtMi41MTYgNC42MjEtMi42MjMgNC42NzQtLjE2LjA4MS0uMzMyLjExOS0uNTAyLjExOXoiIGZpbGw9IiMwRDYxMzAiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
  }
}

.map-current-location {
  @extend %marker;
  @include icon-color($currentLocation);
}
