/* Map Marker Colours */
$currentLocation: #06F;
$building: #0D6130;
$openspace: #006295;
$program: #d0c6b1;
$infrastructure: #e67e22;
$neighbourhood: #cba;
$companies: #e67300;
$building-registered: #2b9145;
$building-certified: #0D6130;
