@import 'normalize-scss/normalize';
@import 'bourbon/app/assets/stylesheets/bourbon';

@import 'variables';

@import 'controls';
@import 'map';
@import 'items';
@import 'results';
@import 'modal';

* {
  box-sizing: border-box;
}

html, body, #main, .tiles {
  height: 100%;
}

body, input{
  font-weight: 300;
  color: #444;
}

body {
  padding:0;
  margin: 0;
  background: #FAFAFA;
}

#main {
  height: 100%;
  position: relative;
  overflow: hidden;

  &.list {
    .tiles, .item-container {
      left: -100%;
    }
    .geo-locate, .info {
      left: -45px;
    }
  }
}
