@import 'normalize-scss/normalize';
@import 'leaflet/dist/leaflet';

body {
  padding:0;
  margin: 0;
  background: #FAFAFA;
}

html, body, .tiles {
  height: 100%;
}

#main {
  height: 100%;
  position: relative;

  .controls {
    position: absolute;
    top:  0;
    right:0;
    z-index: 200;
  }

  .tiles {
    z-index: 100;
  }
}

.map-marker {
  border-radius: 50%;
  box-shadow: inset 0 1px 2px -1px rgba(255,255,255,0.7),
              0 3px 4px -2px rgba(0,0,0,0.6);

  background: #0D6130;
  border: 1px solid darken(#0D6130, 5%);
}
