@import 'normalize-scss/normalize';
@import 'bourbon/app/assets/stylesheets/bourbon';

@import 'variables';

@import 'controls';
@import 'map';
@import 'items';
@import 'results';
@import 'modal';
@import 'filters';
@import 'touchtouch';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html, body, #main, .tiles {
  height: 100%;
}

body, input{
  font-weight: 300;
  color: #444;
}

body {
  padding:0;
  margin: 0;
  background: #FAFAFA;
}

#main {
  height: 100%;
  position: relative;
  overflow: hidden;

  &.list {
    .tiles, .item-container {
      left: -100%;
    }
    .geo-locate, .info, .filters {
      left: -45px;
    }
  }
}

a {
  font-weight: normal;
  color: #E67300;
  text-decoration: none;
}

a:visited {
  font-weight: light;
}
