<section class='audio'></section>

<section class='actions'></section>

<% if (typeof summary !== "undefined" && summary !== null) { %>
<section class='summary'>
  <h3>Summary</h3>
  <%= summary %>
</section>
<% }; %>

<% if (typeof certifications !== "undefined" && certifications !== null) { %>
<section class='awards'>
  <h3>Awards and Certifications</h3>

  <%= certifications %>
</section>
<% }; %>

<section class='team'>
  <h3>Project Team Members</h3>
  <dl>
    <dt>Architect</dt>
    <dd>Acton Ostry Architects</dd>
    <dt>Developer</dt>
    <dd>Allan Kube Associates</dd>
    <dt>Sustainability Consulting</dt>
    <dd>Recollective Consulting, Inc.</dd>
  </dl>
</section>

<% if (typeof description !== "undefined" && description !== null) { %>
<section class='description'>
  <h3>Description</h3>
  <%= description %>
</section>
<% }; %>
