<!-- <section class='audio'></section> -->

<!-- <section class='actions'></section> -->

<% if (typeof summary !== "undefined" && summary !== null) { %>
<section class='summary'>
  <h2>Summary</h2>

  <article>
    <%= summary %>
  </article>
</section>
<% }; %>

<% if (typeof certifications !== "undefined" && certifications !== null) { %>
<section class='awards'>
  <h2>Awards and Certifications</h2>

  <dl>
    <%= certifications %>
  </dl>
</section>
<% }; %>

<% if (typeof team !== "undefined" && team !== null ) { %>
<section class='team'>
  <h2>Project Team Members</h2>

  <dl><%= team %></dl>
</section>
<% }; %>

<% if (typeof description !== "undefined" && description !== null) { %>
<section class='description'>
  <h2>Description</h2>

  <article>
    <%= description %>
  </article>
</section>
<% }; %>
